table
{
	border-spacing: 0px;
    border: 1px solid #000;
 	float: left;
}

td
{
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

.info
{
    float: left;
    margin-left: 20px;
    font-size: 24px;
}

.zapisz
{
	background-color: #3bb125;
    color: #FFF;
    border: none;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.zapisz:hover
{
	cursor: pointer;
}